.participant{
    border-radius: 1px solid black;
}
.cart{
    height: 420px;
    width: 300px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px 10px #dd1313;
    background-color: gold;
}

.icon-color{
    color: rgb(38, 0, 255);
}
