.profile-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 75%;
    border-right: 1px solid antiquewhite;
    margin-left: 15px;
    border-radius: 5px;
    /* background-color: blanchedalmond; */
}
.participants-container{
    display: flex;
}
.cart-container{
    margin-left: 5px;
    margin-right: 10px;
}

